body {
  --stroke-length: 10px;
  --stroke-width: 2px;
  --stroke-gap: 2px;
  --stroke-color: white;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.circles-svg {
  width: 99%;
  height: 99%;
}

.circles {
  transform-origin: center;
  fill: transparent;
  stroke-dasharray: var(--stroke-length) var(--stroke-gap);
  stroke: var(--stroke-color);
  stroke-width: var(--stroke-width);
}

.toggle-pannel-arrow {
  position: fixed;
  left: 20px;
  top: 20px;
  width: 24px;
  height: 24px;
  fill: white;
  transform-origin: center;
  cursor: pointer;
}

.controls {
  position: fixed;
  left: 0;
  top: 70px;
  padding-left: 20px;
  height: calc(100vh - 70px);
  overflow-x: hidden;
}

.inputs {
  display: block;
  margin-top: 5px;
  margin-bottom: 20px;
}
.inputs[type='checkbox'] {
  display: inline-block;
}
.inputs[type='color'] {
  display: inline-block;
  margin-right: 10px;
}
.labels {
  color: white;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
}
