.App {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  grid-gap: 5px;
  align-items: flex-start;
}
body {
  overflow: overlay;
  background-color: black;
}
.grid-item {
  width: 20px;
  height: 50px;
  background-color: firebrick;
  transition: background-color 500ms ease , height 500ms ease;
}
#header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}
.buttons {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(26, 26, 26);
  width: fit-content;
  /* margin: 20px; */
  border: solid 1px transparent;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}

.buttons:hover {
  border: solid 1px white;
}
